@model QuanLy_TourDuLich.Models.Tour
@using QuanLy_TourDuLich.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";

}

<div class="container col-md-8">
    <h2>Thêm tour</h2>

    @using (Html.BeginForm("Edit", "HomeAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(t => t.id)
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 form-label ">Loại tour</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Loai_Tour_id, (SelectList)ViewBag.LoaiTour, new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.Loai_Tour_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Tên tour</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Giá</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Tiêu đề</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Mô tả</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="MoTa" id="inputMoTa">@Model.MoTa</textarea>
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Lịch trình</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="LichTrinh" id="inputLichTrinh">@Model.LichTrinh</textarea>

                    @Html.ValidationMessageFor(model => model.LichTrinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Điểm khởi hành</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemKhoiHanh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiemKhoiHanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Điểm đến</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemDen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiemDen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Ngày khởi hành</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKhoiHanh, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Ngày kết thúc</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 form-label">Số người</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuongCon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuongCon, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sửa" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section TourJS {
    <script>
        CKEDITOR.replace('inputMoTa')
        CKEDITOR.replace('inputLichTrinh')
    </script>
}

