@model IEnumerable<QuanLy_TourDuLich.Models.Tour>

@{
    ViewBag.Title = "Quản lý tour";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Quản lý tour</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoiTour")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            <label>Loại tour</label>
        </th>
        <th>
            <label>Tên</label>
        </th>
        <th>
            <label>Giá</label>
        </th>
        <th>
            <label>Điểm khởi hành</label>
        </th>
        <th>
            <label>Điểm đến</label>
        </th>

        <th>
            <label>Ngày khởi hành</label>
        </th>
        <th>
            <label>Ngày kết thúc</label>
        </th>
        <th>
            <label>Số lượng còn</label>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Loai_Tour.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @String.Format("{0:0,00}",item.Gia) VNĐ / người
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemKhoiHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemDen)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongCon)
            </td>

            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.id }) |
                @Html.ActionLink("Chi tiết", "ChiTietTour", new { id = item.id }) |
                @Html.ActionLink("Xóa", "DeleteTour", new { id = item.id }) |
                <a href="~/Admin/HomeAdmin/ThemHinhAnhTour/@item.id">Thêm hình ảnh</a>
            </td>
        </tr>
    }

</table>
