@model List<QuanLy_TourDuLich.Models.Tour>
@{
    ViewBag.Title = "Trang chủ";
    var giasaukm = ViewBag.GiaSauKM as int[];
    int i = 0;
}
@helper Truncate(string text, int lengh)
{
    if (text.Length <= lengh)
    {
        @text
    }
    else
    {
        @text.Substring(0, lengh)<text></text>
    }
}

@*@if (Model != null)
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card col-md-4 m-3" style="width:18rem">
                    @Html.Action("AnhChoCard", "Home", new { id = item.id })
                    <div class="card-body ">
                        <a href="~/Home/ChiTietTour/@item.id" class="nav-link" style="font-size:20px;"><b>@Truncate(item.Name, 50)</b></a>
                        <hr />
                        <div style="">
                            <p class="text-body">Khởi hành: @String.Format("{0:dd/MM/yyyy}", item.NgayKhoiHanh)</p>
                            <p class="text-body">Số chỗ còn nhận: @item.SoLuongCon</p>
                            <p class="text-body">@item.DiemKhoiHanh</p>
                            <p class="text-body">Giá: <span class="text-danger">@String.Format("{0:0,00}", item.Gia) đ</span></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" style="margin-top: 500px">
            @Html.Action("HienThiFeedback","Home")
        </div>
    </div>
}*@

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-4 m-3" style="width:18rem">
                @Html.Action("AnhChoCard", "Home", new { id = item.id })
                <div class="card-body ">
                    <a href="~/Home/ChiTietTour/@item.id" class="nav-link" style="font-size:20px;"><b>@Truncate(item.Name, 50)</b></a>
                    <hr />
                    <div style="">
                        <p class="text-body">Khởi hành: @String.Format("{0:dd/MM/yyyy}", item.NgayKhoiHanh)</p>
                        <p class="text-body">Số chỗ còn nhận: @item.SoLuongCon</p>
                        <p class="text-body">@item.DiemKhoiHanh</p>
                        @if (giasaukm[i] == 0)
                        {
                            <p class="text-body">Giá: <span class="text-danger">@String.Format("{0:0,00}", item.Gia) đ</span></p>
                        }
                        else
                        {
                            <p class="text-body">Giá: <span style="text-decoration:line-through;font-size:smaller">@String.Format("{0:0,00}", item.Gia) đ</span> <span class="text-danger">@String.Format("{0:0,00}", giasaukm[i]) đ</span></p>
                        }
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
</div>